* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato";
  background: #62affc;
  color: #fff;
}

main {
  text-align: center;
 }

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trigger, .tweet {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  height: 40px;
  width: 300px;
  background: inherit;
  border: 1px solid #fff;
  border-radius: 5px;
}

.fa {
  padding: 10px;
}
